Flask==3.1.2
Flask-Login==0.6.3
Flask-WTF==1.2.2
celery==5.5.3
redis==6.4.0
pymongo==4.15.1
openai==1.109.1
requests==2.32.5
feedparser==6.0.12
beautifulsoup4==4.13.5
bleach==6.2.0
python-dotenv==1.1.1
python-slugify==8.0.4
gunicorn==23.0.0
Pillow==11.3.0
pypdf==6.0.0
python-docx==1.2.0
odfpy==1.4.1
openpyxl==3.1.5
xlrd==2.0.2


PyJWT[crypto]==2.10.1

cryptography==45.0.7
